#maindiv {
  display: flex;
  border: 0.1px solid rgb(179, 179, 179);
}

#imagediv {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  margin-top: 6vh;
  margin-left: 2vw;
  border-radius: 50%;
  border: 0.5px solid black;
}
#textdiv {
  width: 75%;
  margin-left: 50px;
  font-size: large;
  color: rgb(78, 76, 76);
  font-family: Arial, Helvetica, sans-serif;
}

#textdiv > h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  margin-bottom: 0px !important;
}
.expand-btn {
  margin-top: 10vh;
}

button {
  border-radius: 50%;
  text-decoration: none;
}

#gradesDiv {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  max-height: 0vh;
}
.tagdiv {
  margin-top: 2vh;
  display: flex;
}
#eachtag {
  border: 0.5px solid rgb(250, 69, 69);
  margin-right: 25px;
  padding: 10px;
}
h6 {
  margin: 1vh !important;
}
.add-tag-input {
  margin: 3vh 0vw;
}
.searchDiv,
.tagDiv {
  margin: 2vh;
  font-family: Arial, Helvetica, sans-serif;
}
#name-input {
  margin-left: 2vw;
}
